/*ADAM BIN MISDAR @ HASSAN 2020452566 13/7/2021 */

form{
	background-image: url(parcel.jpg);
	font-family: "arial", verdana, sans-serif;
	margin: auto;
	width: 50%;
	padding: 10px;

}
h1{
	text-align: center;
}
input[type="text"],input[type="number"]{

	width: 100%;
	height: 30px;
}
.submitbutton{
	
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
	
}
.resetbutton{
	
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
	
}